---
layout: default
---
<!-- this is the home layout -->

<section class="home-foods">
  <img src="{{ '/images/pizza.jpg' | relative_url }}" alt=""/>
  <img src="{{ '/images/pasta.jpg' | relative_url }}" alt=""/>
  <img src="{{ '/images/panini.jpg' | relative_url }}" alt=""/>
</section>

<header>
  {{ data.title }}
</header>

<main class="home-content">
  {{ content }}
</main>
